body {
    background-color: black !important;
    color: white !important;
    font-family: "Amarante", serif !important;
}

.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

.caudex-regular {
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
}

.caudex-bold {
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
}

.caudex-regular-italic {
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: italic;
}

.caudex-bold-italic {
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: italic;
}

.container-sm {
    background-color: #0B13AC;
    background-repeat: repeat-x;
    background-size: cover;
    max-width: 450px !important;
    overflow: hidden;
}

.container-sm.train {
    background-image: url("../img/bg1.png");
}

.container-sm.dungeon {
    background-image: url("../img/bg2.png");
}

.container-sm.shop {
    background-image: url("../img/bg3.png");
}

.container-sm.settings {
    background-color: #180F92 !important;
}

@media only screen and (max-width: 430px) {
    .container {
        transform: translate(-7%, -4.25%);
    }

    .square {
        width: 115% !important;
    }

    .box {
        width: 107% !important;
    }

    .btn-train {
        position: sticky;
    }

    .tab .col-8 {
        justify-self: end;
        width: 80%;
    }
}

.container {
    max-width: 450px !important;
    padding-bottom: 20px;

}

nav button {
    color: white;
    background-color: #743CE6;
    border-width: 0;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
}

nav button:hover {
    background-color: #512B9F;
}

.tab button {
    color: white;
    font-size: 20px;
    background-color: #512B9F;
    border-width: 0;
    width: 240px;
    height: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
}

button img {
    width: 50px;
}

.tab button:hover {
    background-color: #743CE6;
}

.tab button:disabled {
    background-color: #743CE6;
}

img.mage {
    width: 40%;
    margin-bottom: -2px;
    margin-top: -24px;
    cursor: grab;
}

img.mage:active {
    cursor: grabbing;
}

.square {
    width: 402px;
    height: 228px;
    background-color: #743CE6;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    align-self: center;
}

.square .progress {
    transform: translate(13%, 85%);
    width: 320px;
    height: 20px;
    font-size: 15px;
    background-color: #0EB039;
    font-family: "Caudex", serif !important;
}

.square .progress-bar {
    background-color: #3CE6AA;
    color: #37217B;
}

.square .progress.hp {
    background-color: #512B9F !important;
}

.square .progress-bar.hp {
    background-color: #BA164F !important;
    color: white !important;
}

.xp-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-440%, 18%);
    z-index: 1;
    cursor: help;
}

.hp-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    transform: translate(-390%, -152%);
    z-index: 1;
    cursor: help;
}

.square .btn-train {
    padding-top: 37px;
    font-size: larger;
}

.square .btn-train button {
    width: 180px;
    border-width: 0;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.square .btn-train button:hover {
    background-color: #512B9F;
}

.tooltip-inner {
    background-color: #37217B !important;
    color: white !important;
    font-family: "Caudex", serif;
}

.tooltip-arrow {
    display: none !important;
    border-top-color: trasparent !important;
}

p.col {
    font-size: 11px;
    color: #37217B;
    font-family: "Caudex", serif;
}

.btn-train button:hover {
    background-color: #512B9F !important;
}

.btn-train img {
    width: 19%;
    pointer-events: none;
}

.str button {
    background-color: #C41700 !important;
}

.spd button {
    background-color: #0EB039 !important;
}

.inl button {
    background-color: #0674D4 !important;
}

.eqp button {
    background-color: #BA164F !important;
}

.fgt button {
    background-color: #512B9F !important;
    border-color: #F9FE64 !important;
    border-width: 3px !important;
}

.fgt button:hover {
    background-color: #743CE6 !important;
}

.modal-header,.modal-body,.modal-footer,.modal-content {
    background-color: #743CE6 !important;
    border-radius: 25px;
}

.modal-header,.modal-footer {
    border-color: #F9FE64 !important;
}

.modal .btn {
    background-color: #F9FE64 !important;
    border: none;
}

.modal .btn:hover {
    background-color: #512B9F !important;
}

.box {
    background-color: #512B9F;
    height: 670px;
    width: 402px;
    border-radius: 25px;
    align-self: center;
    transform: translateY(-30px);
    position: absolute;
    z-index: 1;
}

h4 {
    padding: 8px;
}

.slider {
    appearance: none;
    width: 100%;
    height: 33px;
    background: #743CE6;
    outline: none;
    border-radius: 25px;
    padding: 7px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 57px;
    height: 25px;
    background: white;
    cursor: pointer;
    border-radius: 25px;
}

.col.setting {
    padding: 8px;
}

.setting button {
    width: 100%;
    height: 50px;
    font-size: 28px;
    border-radius: 25px;
    border-width: 0;
    color: white;
    background-color: #BA164F;
}

.setting button:hover {
    background-color: #743CE6;
}

.setting.pad.col {
    padding-top: 45px;
}

.setting.log button {
    background-color: #C41700 !important;
}

.setting.log button:hover {
    background-color: #37217B !important;
}